.connection {
  width: 100%;
  text-align: center;
  margin-bottom: 100px;
}

.connection-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 250px;
  width: 100%;
  box-sizing: border-box;

  @media screen and (max-width: 768px) {
    padding: 30px 50px;
  }

  .connection-title {
    font-size: 30px;
    padding-bottom: 15px;
  }

  .connection-bb {
    width: 66px;
    height: 3px;
    background-color: #ffce55;
    align-self: center;
    margin-bottom: 15px;
  }

  .connection-desc {
    font-size: 18px;
    margin-bottom: 65px;
  }
}

.connection-form {
  width: 100%;
  display: flex;

  .form-info {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-right: 30px;
  }

  @media screen and (max-width: 768px) {
    margin: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .form-info{
      align-self: center;
    }

    br:not(.mobile){
      display: none;
    }
  }
}

.info__contacts {
  text-align: left;
  margin-bottom: 35px;

  @media screen and (max-width: 768px) {
    text-align: center;
  }

  .contacts-title {
    font-size: 21px;
    color: #363636;
    margin-bottom: 10px;
  }

  .contacts-desc {
    font-size: 16px;
    color: #777;
    line-height: 1.8;
  }
}

form {
  display: flex;
  flex-direction: column;
  min-width: 75%;

  @media screen and (max-width: 768px) {
    min-width: 100%;
  }

  p {
    text-align: left;
    color: #f00;
    font-weight: normal;
  }

  label,
  input {
    width: 100%;
    text-align: left;
  }

  label {
    color: #363636;
    font-size: 16px;
    margin-bottom: 5px;
  }

  input,
  textarea {
    outline: none;
    background-color: #f0f0f0;
  }

  input:not(.send),
  textarea {
    width: 100%;
    margin-bottom: 30px;
    border: 2px solid #d0d0d0;
    border-radius: 2px;
    color: #363636;
    font-size: 13px;
    padding-left: 16px;
    height: 50px;
  }

  textarea {
    padding: 16px;
    padding-right: 0;
    height: 250px;
    margin-bottom: 30px;
    resize: none;
  }

  input:active,
  input:focus,
  textarea:focus,
  textarea:active {
    border: 2px solid #ffce55;
  }

  .send {
    text-align: center;
    background: #f2c351;
    border: 0;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    padding: 20px 30px;
    width: fit-content;
    cursor: pointer;

    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }

  .send:disabled {
    cursor: not-allowed;
  }
}
