<app-page>
  <app-top-info></app-top-info>
  <section class="about">
    <div class="about-wrapper">
      <h2 class="about-contact">Мы находимся в городе Минск Беларусь.</h2>
      <h2 class="about-contact">Телефон +7 981 6879756</h2>
      <h2 class="about-contact">Viber, Телеграмм, WhatsApp :+372 53530003</h2>
      <a routerLink="/" fragment="contact-form" class="about-buy">
        <img src="../../assets/zakazat.png" alt="" />
      </a>
      <div class="about-bb"></div>
    </div>
  </section>
  <section class="gallery">
    <p class="gallery-desc">Фотографии оригинальных банок для снюса.</p>
    <div class="gallery-wrapper">
      <div>
        <div class="hover">
          <a class="link" routerLink="/gallery">Посмотреть проект</a>
        </div>
        <img src="../../assets/1.jpg" alt="1" />
      </div>
      <div>
        <div class="hover">
          <a class="link" routerLink="/gallery">Посмотреть проект</a>
        </div>
        <img src="../../assets/8.jpg" alt="8" />
      </div>
      <div>
        <div class="hover">
          <a class="link" routerLink="/gallery">Посмотреть проект</a>
        </div>
        <img src="../../assets/6.jpg" alt="6" />
      </div>
      <div>
        <div class="hover">
          <a class="link" routerLink="/gallery">Посмотреть проект</a>
        </div>
        <img src="../../assets/9.jpg" alt="9" />
      </div>
    </div>
  </section>
  <app-contact-form></app-contact-form>
</app-page>
