<div class="app-top-info">
  <div class="top-info-wrapper">
    <div class="top-info-header">
      <h1 class="header__title">
        ОРИГИНАЛЬНЫЕ <span style="color:red">баночки</span> для снюса Odenss
        Cold Dry и SIBERIA
      </h1>
      <div class="header__bb"></div>
    </div>
    <div class="top-info-main">
      <h1 class="main__title">
        Оптом от производителя. Доставка по всей России. Цена от 6,5 рублей.
      </h1>
      <p class="main__text">
        Продаем от 5250 банок-8 р за шт. 10500 банок- 7,5 р за шт. 30000 банок-
        7 р
      </p>
    </div>
    <a routerLink="/" fragment="contact-form" class="top-info-button">
      СВЯЖИТЕСЬ С НАМИ
    </a>
  </div>
</div>
